<h2><%= @session.name %></h2>

<h3>Members:</h3>

<ul>
  <% @session.members.each do |member| %>
  <li><%= member.first_name %></li>
<li><%= member.last_name %></li>
<li><%= member.age %></li>
<li><%= member.email %></li>
  <% end %>
</ul>
